@charset "UTF-8";
html {
    font-size: 100px
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Hiragino Sans GB','微软雅黑',arial,sans-serif;
    color: #333;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased
}

i,b {
    font-weight: 400;
    font-style: normal
}

a {
    color: #333;
    text-decoration: none!important;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

a:link {
    text-decoration: none
}

h3 {
    margin-top: 0!important
}

ol,ul {
    margin-top: 0;
    margin-bottom: 0
}

p {
    margin-bottom: 0
}

.text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.of {
    overflow: hidden;
}

.ov {
    overflow: visible!important
}

a {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

a:hover {
    color: #eb0000
}

img {
    width: 100%
}

.publictime {
    float: right;
    font-size: 14px;
    margin-right: 15px
}

.f12 {
    font-size: .12rem
}

.f14 {
    font-size: .14rem
}

.f16 {
    font-size: .16rem
}

.f18 {
    font-size: .18rem
}

.f20 {
    font-size: .2rem
}

.yellow {
    color: #fc8b00
}

.green {
    color: #79c808
}

.red {
    color: #c50400
}

.blue {
    color: #117ab5
}

.black {
    color: #121212
}

.gray {
    color: #666
}

.Animation {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap
}

.flexLi {
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.text-center {
    text-align: center!important
}

.text-left {
    text-align: left!important
}

.text-right {
    text-align: right!important
}

.noborder {
    border: none!important
}

.hauto {
    height: auto!important;
    max-height: unset!important
}

.list-hauto {
    height: auto!important;
    max-height: 600px!important;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.rotateme {
    display: block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.bggray {
    background-color: #f7f7f7!important
}

.show {
    display: block!important
}

.bgfff {
    background-color: #fff!important
}

.noshadow {
    box-shadow: none!important
}

.fontfff {
    color: #fff!important
}

.foot-bottom {
    margin-bottom: 75px!important
}

/*
***********************
*以上公共样式
***********************
*/

.head {
	line-height: 40px;
	background-color: #333;
	text-align: right;
}

.head .content {
	margin: 0 auto;
}

.head a{
    color: #fff;
}

.top {
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s
}

.top .logo{
    float: left;
}

.top .nav{
    width: 1190px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

.top .nav .nav-links {
    float: left;
    margin-left: 15px;
}

.top .nav .nav-links .links {
    position: relative;
    float: left;
}
.top .nav .nav-links .links:hover{
    box-shadow: inset 0 -4px 0 0 #0287e9;
}

.top .nav .nav-links .links a{
    display: block;
    line-height: 100px;
    padding: 0 15px;
    font-size: .16rem;
}
.top .nav .nav-links .links:hover a {
    color: #0287e9;
}
.top .nav .nav-links .on a{
    color: #0287e9;
}

.top .nav .nav-btn {
    position: absolute;
    display: none;
    top: 0;
    right: 20px;
}

.banner{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner .mobile-banner{
    display: none;
}

.index-main-content{
    height: 100%;
    position: relative;
    z-index: 1;
    min-width: 100%;
}

.index-title-bg{
    background: url('../Images/index-bg.jpg') no-repeat center center!important;
}
.margin-box {
    margin: 75px auto;
}
.new-index-title {
    text-align: center;
}
.new-index-title h3 {
    font-size: .43rem;
    color: #117ab5;
}
.new-index-title p {
    margin-top: 10px;
    font-size: .3rem;
    color: #999;
}
.new-index-title .conwp h3{
    font-weight: 700;
}

.index-fixed-bg{
    position: relative;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    background-attachment: fixed;
}

.index-fixed-bg.index-bg-1{
    background-image: url(../Images/bigbg1.jpg);
}
.index-fixed-bg.index-bg-2 {
    background-image: url(../Images/bigbg2.jpg);
}
.index-fixed-bg.index-bg-3 {
    background-image: url(../Images/bigbg3.jpg);
}
.index-fixed-bg.index-bg-4 {
    background-image: url(../Images/bigbg4.jpg);
}

.index-title {
    position: relative;
    margin: 0;
    font-size: .36rem;
    font-weight: 400;
    text-align: center;
}
.index-title .small-title{
    margin-top: 20px;
    font-size: .16rem;
    color: #666;
}
.index-scrolling-bg{
    position: relative;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,.2);
    z-index: 2;
}



.content {
    width: 1190px;
    margin:  75px auto;
}

.content .reg-list{
    margin-top: 35px;
    overflow: hidden;
}

.content .reg-list li {
    float: left;
    width: 25%;
    padding: 15px;
    overflow: hidden;
}

.content .reg-list li .reg {
    width: 100%;
    height: 125px;
    line-height: 60px;
    border: 1px solid #e8e8e8;
    padding: 30px 50px; 
    text-align: right;
    font-size: .14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .reg-list li .reg:hover{
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    color: #3778ff;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.content .reg-list li:first-child .reg{
    height: 280px;
    text-align: center;
}

.content .reg-list li:first-child .reg img{
    float: none;
    display: block;
    margin: 50px auto 0;
}

.content .reg-list li .reg img {
    float: left;
    width: 50%;
}

.content .account-box{
    width: 960px;
    height: 310px;
    margin: 35px auto 0;
}

.content .account-box li{
    float: left;
    width: 480px;
    height: 310px;
    padding: 15px;
    text-align: center;
 }

.content .account-box li h3{
    line-height: 60px;
    font-size: .22rem;
    color: #79c808;
    font-weight: 400;
}

.content .account-box li h3:after{
    display: block;
    content: '';
    width: 60%;
    height: 2px;
    margin:0 auto;
    background-color: #e8e8e8;
    border-radius: 50%;
}

.content .account-box li p {
    max-height: 215px;
    padding: 30px 10px;
    line-height: 30px;
    font-size: .18rem;
    color: #666;
}

 .content .account-box li p span {
    color: #79c808;
 }
.content .account-box .account1{
    background: url('../Images/account1.jpg') no-repeat center;
}
.content .account-box .account2{
    background: url('../Images/account2.jpg') no-repeat center;
}


.content  .worth .worth-list {
    margin-top: 40px;
    overflow: hidden;
}

.content  .worth .worth-list li{
    float: left;
    width: 25%;
    padding: 10px;
    overflow: hidden;
}

.content  .worth .worth-list li .audit-box{
    border: 1px solid #e8e8e8;
}
.content  .worth .worth-list li .condition-box {
    position: relative;
    padding: 30px;
    background-color: #fff;
    text-align: center;
}
.content .worth .worth-list li .condition-box:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.content .worth .worth-list li .condition-box:hover .condition {
    color: #0287e9;
}

.content  .worth .worth-list li .audit-box .condition{
    margin: 10px 0 20px;
    font-size: .18rem;
    color: #333;
}

.content  .worth .worth-list li .audit-box img{
    width: 30%;
    margin: 0 auto;
}

.content  .worth .worth-list li .audit-box p{
    font-size: .14rem;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.content .news-center .news-list{
    margin-top: 50px;
    overflow: hidden;
}

.content .news-center .more-btn {
    display: block;
    width: 145px;
    height: 45px;
    margin: 30px auto;
    padding: 0;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid #117ab5;
    color: #117ab5;
    font-size: .14rem;
    text-align: center;
}
.content .news-center .more-btn:hover{
    color: #fff;
    background-color: #117ab5;
}
.content .company-logo-box {
    margin: 80px 0 0;
}

.content .company-logo-box .logo-list li {
    float: left;
    width: 25%;
}
.company-logo {
    background: url('../Images/logobg.jpg') no-repeat;
    background-position: center center;
}

.content .reg-flow {
    margin-top: 50px
}

.content .reg-flow li{
    float: left;
    width: 25%;
    height: 262px;
    padding: 10px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.content .reg-flow li:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.content .reg-flow li .flow-box {
    height: 100%;
    background: url('../Images/reg-flow1.png') no-repeat top center;
}

.content .reg-flow li .flow-box:hover .ready {
    color: #117ab5;
}

.content .reg-flow li .flow-box .num {
    padding: 20px 0 35px;
    color: #fff;
    font-size: .26rem;
}

.content .reg-flow li .flow-box .ready {
    margin-bottom: 10px;
    font-size: .18rem;
}

.content .reg-flow li .flow-box p{
    color: #999;
}

.content .gain-folder-box{
    margin-top: 30px;
}

.content .gain-folder-box li{
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}

.content .gain-folder-box li .folder-nam{
    height: 40px;
    font-size: .14rem;
}
.content .gain-folder-box li .folder-nam span {
    display: inline-block;
    width:  20px;
    margin-right: 5px;
    background-color: #4591ff;
    color: #fff;
    border-radius: 50%;
}
.content .gain-folder-box li img{
    padding-top: 20px;
    border-top: 2px solid #4591ff;
}

.content .success-box{
    float: left;
    width: 16.66%;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.content .success-box .success-box-detail{
    padding-bottom: 20px;
    border-top: 1px solid #3889ff;
    font-size: .14rem;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.content .success-box .success-box-detail:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.content .success-box .success-box-detail img{
    display: block;
    margin: 20px auto 0;
    width: 50%;
}

footer{
    height: 350px;
    background-color: #333;
}

.footer{
    position: relative;
    width: 1190px;
    height: 350px;
    padding-top: .1px;
    margin: auto;
}

.footer .bottom-list {
    float: left;
    margin: 30px 0 30px;
}

.footer .bottom-list li {
    float: left;
    width: 120px;
    height: 190px;
    padding: 0 15px;
}

.footer .bottom-list li p{
    line-height: 30px;
    color: #fcfcfc;
    font-size: .14rem;
    font-weight: 700;
}

.footer .bottom-list li a{
    display: block;
    margin-top: 16px;
    color: #bfbfbf;
    font-size: .12rem;
}

.footer .bottom-list .list-address{
    width: 245px;
}

.footer .weixin-dby{
    position: absolute;
    left: 615px;
    top: 35px;
}

.footer .weixin-dby dd {
    width: 123px;
    height: 123px;
    background: url('../Images/dby.png') center no-repeat;
    background-size: 100%;
}

.footer .weixin-dby dt{
    text-align: center;
    color: #fff;
}

.footer .company-num{
    float: right;
    margin-top: 32px;
    padding: 0 0 20px 40px;
    text-align: right;
    color: #fff;
    box-shadow: -1px 0 0 #454545, -2px 0 0 #212121;
}

.footer .company-num dd{
    margin: 10px 0;
}
.footer .company-num dt{
    font-size: .28rem;
}

.footer .company-num .email{
    float: right;
    width: 120px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}

.footer .company-num .email a{
    display: block;
    color: #fff;
}

.footer .bottom-link{
    border-top: 1px solid #464646;
    text-align: center;
    color: #bbb;
}

.footer .bottom-link p a{
    color: #bbb;
}
.footer .bottom-link .copyright a{
    display: inline-block;
    padding-left: 10px;
}

.footer .bottom-link .num-b a{
    display: inline-block;
    padding-left: 25px;
    color: #939393;
    background: url('../Images/ga_ico.png') left no-repeat;
}

@media (max-width: 1199px){
    html{
        font-size: 75px;
    }

    .head{
        display: none;
    }
}

@media (max-width: 768px){

    .banner .pc-banner{
        display: none;
    }
    .banner .mobile-banner{
        display: inline;
    }
}